<% @posts.each do |post| %>
          <% if (post.video_link != nil) %>
            <div class="post post-2 single-post post-vimeo">
          <% elsif (post.quote_text != nil) %>
            <div class="post post-2 single-post post-quote">
          <% elsif (post.post_attachments != nil) %>
            <div class="post post-2 post-gallery single-post post-image">
          <% end %>
            <!-- <div class="post post-2 post-gallery single-post"> -->
              
              <% if (post.video_link != nil) %>
                <div class="post-type"><i class="fa fa-vimeo-square"></i></div>
              <% elsif (post.quote_text != nil) %>
                <div class="post-type"><i class="fa fa-quote-left"></i></div>
              <% elsif (post.post_attachments != nil) %>
                <div class="post-type"><i class="fa fa-image"></i></div>
              <% end %>

                  <div class="post-author"><%= image_tag ("about-img.png") %></div>
                  <div class="clearfix"></div>
                  <div class="post-head"><h3><%= post.title %></h3>
                    <div class="post-meta">
                      <div><i class="fa fa-user"></i>BY : <a href="#"><%= post.author %></a></div>
                      <div><i class="fa fa-clock-o"></i><%= post.created_at %></div>
                      <div><i class="fa fa-comments"></i><a href="#">22 Comments</a></div>
                      <div><i class="fa fa-heart"></i><a href="#">77</a></div>
                    </div><!-- End post-meta -->
                    <div class="clearfix"></div>
                  </div><!-- End post-head -->

                  <div class="post-wrap">
                    <% if (post.post_attachments != nil) %>
                      <div class="post-img">
                        <ul>
                          <% post.post_attachments.each do |p| %>
                            <li><a href="single-blog.html"><%= image_tag p.media_url %></a></li>
                          <% end %>
                        </ul>
                      </div><!-- End post-img -->
                    <% end %>
                    <% if (post.video_link != nil) %>
                       <div class="post-img"><iframe height="420" src="<%= post.video_link %>" frameborder="0" allowfullscreen></iframe></div>
                      <!-- End post-img -->
                    <% end %>
                    <div class="post-inner">
                      <!-- blog content begins here -->
                      <%= post.content %>  
                      <!-- blog content ends here -->               
                      <div class="clearfix"></div>
                      <div class="post-share-view">
                        <div class="post-meta">
                          <div><i class="fa fa-eye"></i><span>145 </span>Views</div>
                          <div class="post-meta-share">
                            <i class="fa fa-share-alt"></i>
                            <a href="#">Share This</a>
                            <div class="share-social">
                              <ul>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                              <i class="fa fa-caret-down"></i>
                            </div><!-- End follow-social -->
                          </div>
                          <%= link_to 'Read More', post, class: "button post-more" %>
                          <!-- <div class="post-tags">
                            <i class="fa fa-tags"></i>
                            Tags : <a href="#">2code</a>, <a href="#">Begha</a>, <a href="#">Design</a>, <a href="#">Logger</a>, <a href="#">Blog</a>, <a href="#">Single</a>, <a href="#">Quote</a>
                          </div> -->
                        </div><!-- End post-meta -->
                      </div><!-- End post-share-view -->
                  <div class="clearfix"></div>
                </div><!-- End post-inner -->
              </div><!-- End post-wrap -->
            </div><!-- End post -->
            <div class="height_20"></div>

          
<% end %>
