<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

	<%= render "/shared/header" %>
<body>
	<p class="notice white"><%= notice %></p>
    <p class="alert white"><%= alert %></p>
	<%= yield %>
	<%= render "/shared/footer" %>
	<%= javascript_include_tag 'application', debug: true %>
</body>
</html>
