<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<%= render "/shared/header" %>
<body>
	<p class="notice white"><%= notice %></p>
    <p class="alert white"><%= alert %></p>
	<!-- Begin blog template -->
	<div class="loader"><div class="loader_html"></div></div>

	<div id="wrap" class="grid_1200">
		<div class="wrap-search">
			<form method="post">
				<input type="search" name="s" value="Search here ..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
			</form>
		</div><!-- End wrap-search -->

		<!-- Navbar begins -->
		<%= render "/shared/navbar" %>
		<!-- Navbar ends -->
		
		<div class="clearfix"></div>
		<div class="sections">
			<div class="container">
				<div class="row">
					<div class="col-md-8 main-content">
						<%= yield %>
					</div> <!-- End Main Content -->
					<div class="col-md-4 sidebar">	
						<%= render "/shared/sidebar" %>
					<!-- End sidebar -->
				    </div>
				</div><!-- End row -->
			</div><!-- End container -->
		</div><!-- End sections -->

		<div class="clearfix"></div>
		<!-- Footer starts here -->
		<%= render "/shared/footer" %>
		<!-- Footer ends here -->		
	</div><!-- End wrap -->

	<div class="go-up"><i class="fa fa-chevron-up"></i></div>

	<%= javascript_include_tag 'application', debug: true %>

</body>
</html>
